@tailwind base;
@tailwind components;
@tailwind utilities;

$brand-green: #708285;
$brand-brown: #cbb89b;
$brand-gray: #867c7d;
$brand-purple: #5e5a7b;
$brand-red: #ab3838;

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  &-green {
    background-color: #708285;
  }
  &-brown {
    background-color: #cbb89b;
  }
  &-gray {
    background-color: #867c7d;
  }
  &-purple {
    background-color: #5e5a7b;
  }
  &-red {
    background-color: #ab3838;
  }
}

.navItem {
  &:hover {
    background-color: $brand-gray;
  }
}

.smooth {
  transition: 0.3s;
}

.scroll-down {
  border: 2px solid #fff;
  border-radius: 20px;
  bottom: 60px;
  height: 45px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 26px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    animation: scrollDownAnimation 2s infinite;
    background-color: #fff;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
  }
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}

.btn {
  background: $brand-green;
  display: inline-block;
  text-decoration: none;
  width: 230px;
  height: 67px;
  border-radius: 999px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;

  &::after,
  &::before {
    content: "Change your Life";
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    left: 0;
    transition: 0.3s;
    top: 0;
  }

  &:hover {
    opacity: 0.8;
    &::after {
      top: -50px;
    }
    &::before {
      top: 0;
    }
  }

  &::before {
    content: "Right Now";
    top: 50px;
  }
}

.navDark {
  background: linear-gradient(rgba(0, 0, 0, 0.4) 80%, transparent);
}

.ServiceCard {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  width: max-content;
}
