@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-left: auto;
  margin-right: auto;
}

.scroll-down {
  border: 2px solid #fff;
  border-radius: 20px;
  bottom: 60px;
  height: 45px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 26px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    animation: scrollDownAnimation 2s infinite;
    background-color: #fff;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
  }
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
